<%- include("./partials/header") -%>

<header>
    <h1>Welcome to your profile <%=user.first_name%></h1>
</header>
<main>
    <img src="<%=user.picture_url%>" alt="">
    <p>
        Additional profile information
    </p>
    <p>
        <strong>Email:</strong> <%=user.email%>
    </p>
</main>

<%- include("./partials/footer") -%>
